* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Inter",
    -apple-system,
    sans-serif;
}

:root {
  --border: 1px solid hsl(216, 28%, 28%);
  --bg-body: hsl(229, 85%, 5%);
  --bg-card: #111827;
  --text-primary: #f1f5f9;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --color-blue: hsl(213, 78%, 60%);
  --color-green: hsl(142, 71%, 45%);
  --color-red: hsl(359, 100%, 70%);

  --box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: var(--bg-body);
  color: var(--text-primary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  width: 100%;
  min-height: 400px;
  max-width: 500px;
  border: var(--border);
  background: var(--bg-card);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  transition: all 0.2s ease;
  
}

article:hover{
  transform: translateY(-4px);
  box-shadow: var(--box-shadow);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

header h2 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.completed {
  text-decoration: line-through;
  color: var(--text-muted);
}

.action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.action-btns button {
  background: transparent;
  color: var(--text-primary);
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: 0.2s all ease;
}

.action-btns button:active {
  transform: scale(0.95);
}

.edit-button:focus-visible {
  background: hsl(219, 59%, 16%);
  color: hsl(213, 78%, 60%);
  outline: 1px solid hsl(216, 100%, 58%);
}

.edit-button:hover {
  background: hsl(219, 59%, 16%);
  color: var(--color-blue);
}

.delete-button:focus-visible {
  background: hsl(284, 28%, 14%);
  color: var(--color-red);
  outline: 1px solid hsl(357, 96%, 58%);
}

.delete-button:hover {
  background: hsl(284, 28%, 14%);
  color: hsl(359, 100%, 70%);
}

p {
  line-height: 1.6;
  color: var(--text-secondary);
}

.badges {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.badge {
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 500;
  border: var(--border);
}

.priority-high {
  background: hsl(329, 39%, 17%);
  color: var(--color-red);
  border-color: hsl(349, 58%, 30%);
}

.status-inprogress {
  background: hsl(220, 61%, 21%);
  color: hsl(210, 100%, 77%);
  border-color: hsl(218, 68%, 35%);
}

.status-done {
  background: hsl(170, 66%, 14%);
  color: var(--color-green);
  border-color: hsl(152, 88%, 23%);
}

time {
  font-size: 0.85rem;
  color: var(--text-muted);
}

.time-remaining {
  font-weight: 600;
  font-size: 0.9rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags li {
  list-style: none;
  padding: 6px 12px;
  background: hsl(218, 36%, 18%);
  border: var(--border);
  border-radius: 999px;
  font-size: 0.8rem;
}

.checkbox-container {
  border-top: var(--border);
  margin-top: 8px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

input[type="checkbox"]:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--color-blue);
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .action-btns {
    width: 100%;
    justify-content: flex-start;
  }

  article {
    padding: 18px;
  }

  .badges{
    gap: 8px;
  }
}
